/* @tailwind base */
@tailwind components
@tailwind utilities
.discord
    // background: rgb(54, 57, 63)
    background: rgb(20,20,20)
    position: absolute
    top: 0
    left: 0
    margin-top: 50px !important
    width: 100%
    min-height: 100vh



div.discord-option-img
    width: 36px
    display: inline-block
    img 
        height: 32px !important
        margin: 0
        vertical-align: top
div.discord-option-label
    display: inline-flex
    flex-direction: column
    line-height: 1em
    small
        color: #666
    
    

.discord-select-tag
    img
        height: 24px
        margin: 0
        margin-right: 6px
