.home
    background: url("../images/matterhorn.jpg"), #FFFFFF99
    background-repeat: no-repeat
    background-position: top
    background-size: contain
    padding-top: 120px !important
    /* Thanks: https://www.photo-ac.com/main/detail/2787923 */
    display: grid
    grid-template: 200px auto /1fr 500px
    grid-template-areas: "t1 t3" "t2 t3"

    main
        background: #FFFFFF99
        min-height: 100vh
        
        
    .minagaku-tl
        grid-area: t3
        width: 480px
        margin-left: 10px
        .tl-title
            background: #00aceeCC
            color: white
            padding: 0.5em
            border-radius: 3px
            margin-bottom: 1em
            border: 1px solid #CCCCFF99
            a
                color: white
                text-decoration: none

        .tweet
            margin-bottom: 0.3rem
            font-size: 0.9rem

        .time
            text-align: right
            display: block
            font-size: 0.8em
            color: #000
            text-shadow: 1px 1px #CCC, 0 0 1px #FFF


        .tweet-body
            font-family: BIZ UDGothic, sans-serif
            white-space: pre-line
            background: #FFFFFFCC
            padding: 0.5rem
            border-bottom-left-radius: 5px
            border-bottom-right-radius: 5px
            box-shadow: 2px 2px 3px #33333366
            
        .tweet-header
            a
                text-decoration: none
                color: black
                line-height: 1.8em
                text-shadow: 1px 1px 1px #FFFFFF99

            display: grid
            grid-template: 1.8em 1.8em / 3.5em auto 3.5em
            grid-template-areas: "a1 a2 a4" "a1 a3 a4"
            .a1, .a4
                display: flex
                justify-content: center
                align-items: center
                .chara-card, .twitter-profile
                    height: 2.5em
                    border-radius: 1.5em
                    margin: 0
            .a1
                grid-area: a1
                background: #00acee66
                border-top-left-radius: 5px
            .a2
                grid-area: a2
                text-align: left
                background: linear-gradient(to right,#00acee66,#FFFFFFCC)
                
            .a3
                grid-area: a3
                text-align: right
                background: linear-gradient(to left,#acee0066,#FFFFFFCC)
            .a4
                grid-area: a4
                background: #acee0066
                border-top-right-radius: 5px
    .kuguri-area
        display: flex
        .kuguri-img
            height: 200px
            width: 200px
            background: url(../images/kuguriSD1.png) no-repeat
            background-size: cover
            animation: jump 1.0s linear 0.2s 1 forwards 
            &:hover
                animation: hoveranime 1.0s linear 1 forwards 

        .text
            flex-grow: 1
            font-family: sans-serif
            .name
                font-weight: bold
                color: #CC6666
                margin-bottom: 0.5em
                display: block
                

            background: #FFFFCC
            padding: 1rem
            position: relative
            border-radius: 5px
            /* アイコンを左に表示 */
            &::before
                content: '';
                position: absolute;
                display: block;
                width: 0;
                height: 0;
                left: -20px;
                bottom: 20px;
                border-right: 20px solid #FFFFCC
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;

@keyframes hoveranime
    0%
        transform: scale(1, 1) translate(0%, 0%)
    20%
        transform: scale(1, 0.9) translate(0%, 10%)
        background-image: url(../images/kuguriSD2.png)
    80%
        transform: scale(1, 1) translate(0%, 0%)


@keyframes jump
  0%
    transform: scale(1, 1) translate(0%, 0%)

  10%
    transform: scale(1.0, 0.9) translate(0%, 0%)

  20%
    transform: scale(1.0, 1.0) translate(0%, -20%)

  30%
    transform: scale(1.0, 0.9) translate(0%, 0%)
  40%
    transform: scale(1.0, 0.9) translate(0%, 0%)

  50%
    transform: scale(1.0, 1.0) translate(0%, -20%)
    background-image: url("../images/kuguriSD2.png")
  60%
    transform: scale(1.0, 0.9) translate(0%, 0%)
    background-image: url("../images/kuguriSD2.png")

  100%
    transform: scale(1, 1) translate(0%, 0%)
    background-image: url("../images/kuguriSD1.png")

.paper-back
    background-image: url("../images/old-paper-back.jpg")
    padding: 1em
    margin: 1rem
    position: relative
    overflow: hidden
    z-index: 0
    &::before
        content: " "
        background: #FFFFFF66
        box-shadow: 0 0 10px 10px hsla(0,0%,100%,.4)
        width: calc( 100% - 3rem )
        height: calc( 100% - 3rem )
        position: absolute
        top: 0rem
        left: 0rem
        margin: 1.5rem
        z-index: -1

.student-list-link
    box-shadow: 1px 1px 5px #00000099
    border-radius: 2px
    a
        font-size: 2rem
        color: black
        display: block
        text-decoration: none
        padding: 0.5rem 3rem
        font-family: serif;


    &::after
        content: url("../images/mj2.svg")
        position: absolute
        top: -30px
        left: -30px
        height: 100px
        width: 100px

@media only screen and (max-width: 720px)
    .home
        display: flex
        flex-direction: column
        margin-left: -10px

        .minagaku-tl
            width: 100%
            margin: 0
        .kuguri-area
            .kuguri-img
                width: 100px !important
                height: 100px !important
                flex-shrink: 0
            .text
                margin: 0 1rem
                &::before
                    top: 1rem






