
.students
    margin-top: 4em
    article
        background-image: url("../../images/old-paper-back.jpg")
        padding: 1.5em
        box-shadow: 3px 3px 3px #0003, 0 0 5px rgba(0, 0, 0, 0.5), inset 0 0 50px rgba(0, 0, 0, 0.1)
        position: relative
        z-index: 5
        border-radius: 2px
        padding-bottom: 30px
        margin-bottom: -40px
        .student-box
            background: hsla(0,0%,100%,.4);
            box-shadow: 0 0 10px 10px hsla(0,0%,100%,.4);
            padding: 1em;
            margin-bottom: -1em
        h2
            margin-top: 0
            font-size: 1.5rem
            a
                color: black
                text-decoration: none
                font-family: srif
                padding: 1em 0
            .sex
                font-size: 0.5em
                margin-left: 0.5em
            .age
                margin-left: 1em;
                font-size: 0.5em;
    .fusen-wrapper
        transform: rotate(-3deg)
        position: absolute
        top: 1em
        right: 1em

.student-list
    article
        transition: 0.1s ease margin-bottom
        &:hover
            margin-bottom: -20px
            transform: rotate(0.5deg)
        .chara-card
            position: absolute
            top: 1em
            right: calc( 1em + 320px )
            height: 100px
            box-shadow: -1px -1px 3px #6666;

.student-detail
    display: flex
    .student-info
        flex-grow: 1
    .student-info2
        background: #FFFFFF66;
        box-shadow: 0 0 10px 10px #FFFFFF66;
        padding: 1em;
        position: relative
        .chara-card
            grid-row: 1/2;
            grid-area: a1;
            margin: 1em;
            max-width: 300px;
            img
                box-shadow: 3px 3px 5px #00000066;
                margin: 0;
                background: white

        .mini-grid
            display: grid
            grid-template: 1fr 1fr / 1fr 1fr
            grid-template-areas: "a1 a2" "a1 a3"
            .a2
                grid-area: a2
            .a3
                grid-area: a3
        .mini-table
            display: flex
            width: 100%
            table
                width: auto
                margin-right: 1em
                min-width: 30%

        h3
            margin: 1em 0 0.5em
        .box
            max-height: 12em;
            border: 1px;
            white-space: pre-line;
            overflow-y: auto;
            background: hsla(0,0%,100%,.4);
            box-shadow: 0 0 10px 5px hsla(0,0%,100%,.4);
            padding: .3em
    
.side-fusens
    margin-right: -10px;

.side-fusen
    background:  url(../../images/cream.jpg);
    display:  block;
    margin: 0.2em;
    border-left: 10px #933 solid;
    box-shadow: 1px 1px 3px #0009;
    display: flex
    .fusen-chara-card
        height: 2.5rem 
        width: 2.5rem
        overflow: hidden
        img
            height: 2.5rem
            max-width: initial
            margin: 0
        
    a
        display:  block;
        text-decoration:  none;
        color: #300;
        white-space:  nowrap;
        width: 150px;
        padding:  0.5rem;
        font-size: 1rem;

    &:hover 
        margin-left: -20px;
        transition:  0.1s margin-left;
.side-fusen.current
    border-left: 10px #336 solid;
